{{define "home"}}
<!DOCTYPE html>
<html lang="en">
  {{template "head" .PageTitle}}
  <body>
    {{template "header" .PageTitle}}
    <main>
      {{/* "."은 가리키고 있는 데이터 */}}
      {{range .Blocks}}
        {{template "block" .}} 
        {{/* range 내에 있는 "."은 Blocks 내부의 Block들을 가리키게됨 => 순회라서 */}}
      {{end}} 
      <!-- end로 range를 끝낼 수 있음 -->
    </main>
    {{template "footer"}}
  </body>
</html>
{{end}}