{{define "block"}}
<div> 
  <ul>
    <!-- Blocks struct의 변수들을 불러옴 -->
    <li>{{.Data}}</li>
    <li>{{.Hash}}</li>
    {{if .PrevHash}}
      <li>{{.PrevHash}}</li> 
    {{end}}
  </ul>
</div>
{{end}}