{{define "head"}}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css"> 
    <title>{{.}}블록체인 설계 프로젝트</title>
  </head>
{{end}}