{{define "home"}}
<!DOCTYPE html>
<html lang="en">
  {{template "head" .PageTitle}}
  <body>
    {{template "header" .PageTitle}}
    <main>
      {{range .Blocks}}
        {{template "block" .}} 
        {{/* range 내에 있는 "."은 Blocks 배열의 각각의 Block를 가리키게됨 */}}
      {{end}} 
      <!-- end로 range를 끝낼 수 있음 -->
    </main>
    {{template "footer"}}
  </body>
</html>
{{end}}